body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-picker {
  position:relative;
}
#color-picker {
  margin-left: 40px;
}

.configurator {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

#name {
  width: 75%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 100px;
}
