body {
  /* select a nice round font */
  font-family: 'Roboto', sans-serif;

}


/* put .configurator on left side of screen */
.configurator {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}


#name {
    padding: 6px;
     font-size: 19px;
     border-width: 0px;
     background-color: #E72C70;
     color: #F7F249;
     border-style: inset;
     border-radius: 34px;
     box-shadow: 7px 7px 10px rgba(66,66,66,.75);
     margin-top: 50px;
}

::placeholder {
  color: #F7F249
}

#input {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap
}

#button, #random {
  background-color: #82D1E4;
  color: #E72C70;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 7px 7px 10px rgba(66,66,66,.75);
  margin-top: 30px;
}

/* put canvas in the background */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* make select boxes round and wider */
select {
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  }

/* make drop down menu appear to come out of dropdown box */
select option {
  padding: 10px 5px;
  }
